{
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier", "react-hooks"],
	"rules": {
		"prettier/prettier": "error",
		"react/jsx-filename-extension": [
			"error",
			{ "extensions": [".js", ".jsx"] }
		],
		"import/prefer-default-export": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	},
	"env": {
		"browser": true,
		"es6": true
	}
}
